/*
#F9FCFE - light blue
#FDFAF1 - orange
*/

/* Visual cue for a category name */
.skillsplugin_category { 
  color:#06c;
  font-weight: bold;
  text-align: left;
}

/* Visual cue for a skill name */
.skillsplugin_skill { 
  color:#0b6;
  font-weight: bold;
  text-align: right;
}

/* Visual cue for the title of a rating */
.skillsplugin_rating {
  text-align:center;
  font-weight:bold;
}

/* Hidden tooltip text */
.skillsplugin_tooltip {
  display:none;
}

/**** Indent block nodes for categories/subcategories to depth 3 ****/
.indent-category0 { 
}

.indent-category1 { 
  padding-left: 2em;
}

.indent-category2 { 
  padding-left: 4em;
}

.indent-category3 { 
  padding-left: 6em;
}

/* indent for cascading category twisties */
.indent-cascade { 
  margin-left: 2em;
}

/* Styles used for forms on EditMySkills, SelectMySkills
   and SearchSkills pages */

/* All controls in an entry form carry this style. It is used by JS
  to enable/disable controls */
.skillsFormControl {
}

/* The activator link for twisties */
.skillsplugin-twisty-link {
}

/* Used by JS to find all rating radio buttons */
.skillsFormRatingControl {
  text-align:center;
}

/* Used by JS to find all comment controls */
.skillsFormCommentControl {
}

/* Tabulated form */
table.skillsForm {
  border-color:#ccc;
  background-color:#fff;
  margin:5px 0;
  border-collapse:collapse;
  padding:0;
  border-spacing:0px;
  empty-cells:show;
  border-style:solid;
  border-width:1px;
}

th.skillsFormHeadRow a:visited,
th.skillsFormHeadRow a:link {
  color:#06c;
  text-decoration:none;
}

th.skillsFormHeadRow th a:hover {
  border-color:#06c;
  background-color:transparent;
}

th.skillsFormHeadRow {
  padding:3px 6px;
  height:2.5em;
  vertical-align:middle;
  text-align:center;
  background-color:#FDFAF1;
}

th.skillsFormFirstCol {
  padding:3px 15px;
  height:2.5em;
  vertical-align:middle;
  text-align:center;
  background-color:#FDFAF1;
}

td.skillsForm {
  padding:5px 15px;
  text-align:left;
  vertical-align:middle;
}

td.skillsFormSubmit {
  padding:5px 15px;
  text-align:center;
}

div.skillsForm {
  text-align: center;
}

td.skillsFormRatingCell {
  text-align: center;
}

/**** Used on SelectMySkills and for search results ****/

.skillsTable {
  border-color:#ccc;
  background-color:#fff;
  margin:5px 0;
  border-collapse:separate;
  padding:10px;
  border-style:solid;
  border-width:1px;
}

/**** Table used for user skills display on home page ****/

.userSkills {
  border-color:#ccc;
  background-color:#fff;
  border-collapse:separate;
  padding:10px;
  border-style:dotted;
  border-width:1px;
}

/**** UI tabs ****/
table.skillNavigation a {
  text-decoration: none;
  font-weight: bold;
}

table.skillNavigation a:link,
table.skillNavigation a:visited {
  color: #666;
}

table.skillNavigation a:hover {
  background-color:transparent;
  border-bottom: 1px solid #666;
}

table.skillNavigation td {
  border-top: none;
  margin: 0em 4em;
  padding: 0.5em;
  text-align: center;
}

table.skillNavigation td.current {
  border-left: 3em solid white;
  border-right: 3em solid white;
  border-bottom: none;
  background-color: #EAE9DE;
}

table.skillNavigation td.other {
  border-left: 3em solid white;
  border-right: 3em solid white;
  border-bottom: 1em white;
  background-color: #F6F4EB;
}

table.skillNavigation td.bottom { 
  background-color: #EAE9DE;
  height: 1em;
}

/***********************************************************/

.yui-overlay { border:1px dotted black;padding:5px;margin:10px; }
.yui-overlay .hd { border:1px solid black;padding:5px; }
.yui-overlay .bd { border:1px solid black;padding:5px; font-size:larger; font-weight:bold; }
.yui-overlay .ft { border:1px solid black;padding:5px; }

#foo_Overlay { background:orange;width:100px;height:25px; }
