%TMPL:INCLUDE{"skills"}%

%TMPL:DEF{"skills:userview:head"}%<a href='%SCRIPTURL{view}%/%USERSWEB%/%SKILLUSER%'>%SKILLUSER%'s Skills</a>%TMPL:END%
%TMPL:DEF{"skills:userview:footer"}%
[[%SYSTEMWEB%.SkillsBrowseAll][Browse Skills]] | [[%SYSTEMWEB%.SkillsEditMySkills][Edit Your Skills]] | [[%SYSTEMWEB%.SkillsSearch][SearchSkills]]
%TMPL:END%
%TMPL:DEF{"skills:userview:head"}%<a href='%SCRIPTURL{view}%/%USERSWEB%/%WIKINAME%'>%WIKINAME%'s Skills</a>%TMPL:END%
%TMPL:DEF{"skills:userview:repeated:category"}%<tr class='skillsContent'><th colspan='6'>
%SKILLTWISTY% %CATEGORY%</th></tr>%TMPL:END%
%TMPL:DEF{"skills:userview:repeated:skillcontainerstart"}%<tbody %SKILLCONTDEF%>%TMPL:END%
%TMPL:DEF{"skills:userview:repeated:skillstart"}%<tr>%TMPL:END%
%TMPL:DEF{"skills:userview:repeated:skill"}%<td>%SKILLICON% %SKILL%</td>%TMPL:END%
%TMPL:DEF{"skills:userview:repeated:rating"}%<td %RATINGDEF%>%RATING%</td>%TMPL:END%
%TMPL:DEF{"skills:userview:repeated:commentlink"}%%COMMENTLINK%%TMPL:END%
%TMPL:DEF{"skills:userview:repeated:comment"}%<td>
%TMPL:P{"skills:userview:repeated:commentlink"}%</td>%TMPL:END%
%TMPL:DEF{"skills:userview:repeated:skillend"}%</tr>%TMPL:END%
%TMPL:DEF{"skills:userview:repeated:skillcontainerend"}%</tbody>%TMPL:END%

<!-- SKILLSPLUGIN - USER SKILLS TABLE -->
<table id='skillsTable' class='skillsTable' cellpadding="2px" syle="margin:7px 0;">
 <thead>
  <tr>
   <th class='skillsHeading' colspan='6'>
    %TMPL:P{"skills:userview:head"}%
   </th>
  </tr>
  %TMPL:P{skills:std-rating-heads}%
 </thead>
 <tbody>
  <noautolink>
  %REPEAT%
  </noautolink>
 </tbody>
 <tfoot>
  <tr>
   <td colspan='6' class='skillsFooter'>
    <span style='float:left;'>%TMPL:P{"skills:userview:footer"}%</span>
   </td>
  </tr>
 </tfoot>
</table>
