%TMPL:INCLUDE{"skillsbrowseview"}%
<!-- SKILLSPLUGIN - SEARCH SKILLS RESULTS
%TMPL:DEF{"skills:searchresults:repeated:userstart"}%
<tr><td>%USER%</td>
%TMPL:END%

%TMPL:DEF{"skills:searchresults:repeated:prerating"}%<td>
%ICON{empty}%
</td>%TMPL:END%

%TMPL:DEF{"skills:searchresults:repeated:postrating"}%<td>
%ICON{empty}%
</td>%TMPL:END%

%TMPL:DEF{"skills:searchresults:repeated:rating"}%<td>
%ICON{stargold}%
</td>%TMPL:END%

%TMPL:DEF{"skills:searchresults:repeated:userend"}%<td>%TMPL:P{"skills:searchresults:repeated:commentlink"}%</td></tr>%TMPL:END%
-->
%TMPL:DEF{"skills:searchresults:start"}%
<table id='skillsTable' class='skillsTable' cellpadding="2px">
 <thead>
  <tr>
   <th class='skillsHeading' colspan='6'>
    <a href="%SCRIPTURL{view}%/%SYSTEMWEB%/SkillsPlugin">Search Skills</a>
   </th>
  </tr>
  <tr>
   <th colspan="6">
    Search Results... (Search: <em>%SEARCHPATH%</em>; Matches: <em>%SEARCHMATCHES%</em>)
   </th>
  </tr>
  <tr>
   <td style="padding-left:120px;"></td>
   %SKILLRATINGS{format="<td class='skillsRatingHeader'>$name</td>" from="1"}%
  </tr>
 </thead>
 <tbody>
  <noautolink>
%TMPL:END%

%TMPL:DEF{"skills:searchresults:end"}%
  </noautolink>
 </tbody>
 <tfoot>
  <tr>
   <td colspan='6'>
    <span id="search-skills-message-container" style="display:none;">
     %ICON{info}% <span id='search-skills-message'></span>
    </span>
   </td>
  </tr>
 </tfoot>
</table>
