<!--
%TMPL:INCLUDE{"skills"}%

%TMPL:DEF{"skills:userview:start"}%
<div id='skillsTable' class='skillsTable'>
 [[%USERSWEB%.%WIKINAME%][%WIKINAME%]]'s Skills</a>
</noautolink>%TMPL:END%

%TMPL:DEF{"skills:userview:end"}%</noautolink>
</div><!--/skillsTable-->
<div style='float:left'>
 [[%SYSTEMWEB%.SkillsBrowseAll][Browse Skills]] |
 [[%SYSTEMWEB%.SkillsEditMySkills][Edit Your Skills]] |
 [[%SYSTEMWEB%.SkillsSearch][SearchSkills]]
</div>
%TMPL:END%

%TMPL:DEF{"skills:userview:repeated:categorystart"}%<div class='skillsContent'>
 <span id="%ID%_twistyLink" class="SkillsPlugin-twisty-link skillsplugin_category">
  <span id="%ID%_twistyImage" class="SkillsPlugin-twisty-image">
   %ICON{toggleclose}%
  </span>
  %NAME%
 </span>
 <div class="%ID%_twist browseview_indented">%TMPL:END%

%TMPL:DEF{"skills:userview:repeated:categoryend"}%</div><!--/%ID%_twist-->
</div><!--/skillsContent-->%TMPL:END%

%TMPL:DEF{"skills:userview:repeated:skillstart"}%<div>%ICON{dot_ur}%
<span class="skillsplugin_category">%NAME%</span>%TMPL:END%
%TMPL:DEF{"skills:userview:repeated:skillend"}%</div>%TMPL:END%

%TMPL:DEF{"skills:userview:repeated:userstart"}% %TMPL:END%
%TMPL:DEF{"skills:userview:repeated:prerating"}%%ICON{stargold}%%TMPL:END%
%TMPL:DEF{"skills:userview:repeated:rating"}%%ICON{stargold}%%TMPL:END%
%TMPL:DEF{"skills:userview:repeated:postrating"}%%ICON{empty}%%TMPL:END%
%TMPL:DEF{"skills:userview:repeated:userend"}% %COMMENTTIP% %TMPL:END%
-->