<form name="search-skill-form" id="search-skill-form">
 <table class="skillsForm">
  <tr>
   <th colspan="4" class="skillsFormHeadRow">
    <a href="%SCRIPTURL{view}%/%SYSTEMWEB%/SkillsPlugin">
     Search Skills
    </a>
   </th>
  </tr>
  <tr>
   <th class="skillsplugin_category skillsFormFirstCol">Category</th>
   <td class="skillsForm">
    <select name="path1" id="search-category-select">
     %SKILLS{action="showcategories" format="<option value='$category'>$category</option>" }%
    </select>
   </td>
  </tr>
  <tr>
   <th class="skillsplugin_skill skillsFormFirstCol">Skill</th>
   <td class="skillsForm">
    <select name="path2" id="search-skill-select"></select>
   </td>
  </tr>
  <tr>
   <th class="skillsFormFirstCol">Rating</th>
   <td colspan="3" class="skillsForm">
    Between
    <select name="ratingFrom">
     %SKILLRATINGS{format="<option value='$value' $marker>$name</option>" selection="1"}%
    </select>
    and
    <select name="ratingTo">
     %SKILLRATINGS{format="<option value='$value' $marker>$name</option>" selection="$"}%
    </select>
   </td>
  </tr>
  <tr>
   <td colspan="6" class="skillsFormSubmit">
    <input name="skill-submit" id="search-skill-submit" type="button" value="Search" class="foswikiSubmit skillsSubmit skillsFormControl" />
   </td>
  </tr>
 </table>
</form>
