<!--
%TMPL:INCLUDE{"skills"}%

%TMPL:DEF{"skills:browseview:repeated:categorystart"}%%TMPL:P{skills:std:repeated:categorystart}%%TMPL:END%

%TMPL:DEF{"skills:browseview:repeated:categoryend"}%%TMPL:P{skills:std:repeated:categoryend}%%TMPL:END%

%TMPL:DEF{"skills:browseview:repeated:indent"}%X%TMPL:END%

%TMPL:DEF{"skills:browseview:repeated:skillstart"}%%TMPL:P{"skills:std:repeated:skillstart"}%%TMPL:END%

%TMPL:DEF{"skills:browseview:repeated:skillend"}%%TMPL:P{"skills:std:repeated:skillend"}%%TMPL:END%

%TMPL:DEF{"skills:browseview:repeated:userstart"}% <div class="indent-cascade">%ICON{dot_ur}% %TMPL:END%

%TMPL:DEF{"skills:browseview:repeated:userend"}% [[%USERSWEB%.%USER%][%USER%]] (%FORMFIELD{"Location" topic="%USERSWEB%.%USER%"}%) %COMMENTTIP% </div>%TMPL:END%

%TMPL:DEF{"skills:browseview:repeated:prerating"}%%TMPL:P{star}%%TMPL:END%
%TMPL:DEF{"skills:browseview:repeated:rating"}%%TMPL:P{star}%%TMPL:END%
%TMPL:DEF{"skills:browseview:repeated:postrating"}%%ICON{empty}%%TMPL:END%

%TMPL:DEF{"skills:browseview:start"}%<noautolink>%TMPL:END%

%TMPL:DEF{"skills:browseview:end"}%</noautolink>%TMPL:END%
-->