%TMPL:INCLUDE{"skills"}%

<!-- SKILLSPLUGIN - SEARCH SKILLS RESULTS -->
<table id='skillsTable' class='skillsTable' cellpadding="2px" syle="margin:7px 0;">
 <thead>
  <tr>
   <th class='skillsHeading' colspan='6'>
    <a href="%SCRIPTURL{view}%/%SYSTEMWEB%/SkillsPlugin">Search Skills</a>
   </th>
  </tr>
  %TMPL:P{"skills:std-rating-heads"}%
  <tr>
   <th colspan="6">
    Search Results... (Category: <em>%SEARCHCATEGORY%</em>;
    Skill: <em>%SEARCHSKILL%</em>; Matches: <em>%SEARCHMATCHES%</em>)
   </th>
  </tr>
 </thead>
 <tbody>
  <noautolink>
  %REPEAT%
  </noautolink>
 </tbody>
 <tfoot>
  <tr>
   <td colspan='6'>
    <span id="search-skills-message-container" style="display:none;">
     %SKILLMESSAGEPIC% <span id='search-skills-message'></span>
    </span>
   </td>
  </tr>
 </tfoot>
</table>
