<form name="editall-skills-form" id="editall-skills-form" >
 <table width="100%" cols="8" class="skillsTable">
  <thead>
   <tr>
    <th class="skillsplugin_category skillsFormHeadRow">Category</th>
    <th class="skillsplugin_skill skillsFormHeadRow">Skill</th>
    %SKILLRATINGS{format="<th class='skillsFormRatingControl skillsFormControl skillsFormHeadRow'>$name</th>"}%
    <th class="skillsFormHeadRow">Comment</th>
   </tr>
  </thead>
  <tbody id="editall-tbody">
  </tbody>
  <tfoot>
   <tr>
    <td colspan="8" class="skillsFormSubmit">
     <input name="editall-skills-submit" id="editall-skills-submit" type="button" value="Save Changes" class="foswikiSubmit"></td>
   </tr>
   <tr>
    <td colspan='8'>
     <span id="editall-skills-message-container" style="display:none;">
      %ICON{info}% <span id='editall-skills-message'></span>
     </span>
    </td>
   </tr>
  </tfoot>
 </table>
</form>
