%TMPL:INCLUDE{"skills"}%

<!-- SKILLSPLUGIN - EDIT SKILLS -->
<form name="addedit-skill-form" id="addedit-skill-form">
<table class="skillsForm">
<tr><th colspan="6"><a href="%SCRIPTURL{view}%/%SYSTEMWEB%/SkillsPlugin">Edit Your Skills (%WIKINAME%)</a></th></tr>
<tr>
 <th>Category</th>
 <td colspan="5">
  <select name="category" class="skillsControl" id="addedit-category-select">
  </select>
 </td>
</tr>
<tr>
 <th>Skill</th>
 <td colspan="5">
  <select name="skill" id="addedit-skill-select" class="skillsControl">
  </select>
 </td>
</tr>
<tr>
 <th>Rating</th>
 %SKILLRATINGS{format="<td class='skillsFormRating'>$name(<br />)</td>"}%
</tr>
<tr>
 <td></td>
 %SKILLRATINGS{format="<td><input type='radio' class='skillsRating skillsControl' name='addedit-skill-rating' value='$value' /></td>"}%
</tr>
<tr>
 <th>Comment</th>
 <td colspan="5">
  <input size="35" class="skillsComment skillsControl" id="addedit-skill-comment" type="text" name="comment" />
   &nbsp;&nbsp;<span id='addedit-skill-comment-clear' style='display:none;'>%SKILLCOMMENTCLEARPIC%</span>&nbsp;&nbsp;<em>Optional</em>
 </td>
</tr>
<tr>
 <td colspan="6" class="skillsFormRating">
  <input name="skill-submit" id="addedit-skill-submit" type="button" value="Add/Edit" class="foswikiSubmit skillsControl" />
 </td>
</tr>
<tr>
 <td colspan='6'>
  <span id="addedit-skills-message-container" style="display:none;">
   %SKILLMESSAGEPIC% <span id='addedit-skills-message'></span>
  </span>
 </td>
</tr>
</table></form>
