%TMPL:INCLUDE{"skills"}%

<!-- SKILLSPLUGIN - SEARCH SKILLS -->
<form name="search-skill-form" id="search-skill-form">
 <table class="skillsForm">
  <tr>
   <th colspan="4">
    <a href="%SCRIPTURL{view}%/%SYSTEMWEB%/SkillsPlugin">Search Skills</a>
   </th>
  </tr>
  <tr>
   <th>Category</th>
   <td>
    <select name="category" class="skillsCategorySelect" id="search-category-select">
    </select>
   </td>
   <th>Skill</th>
   <td><select name="skill" id="search-skill-select"></select></td>
  </tr>
  <tr>
   <th>Rating</th>
   <td colspan="3">
    Between
    <select name="ratingFrom">
     %SKILLRATINGS{format="<option value='$value' $marker>$name</option>" selection="1"}%
    </select>
    and
    <select name="ratingTo">
     %SKILLRATINGS{format="<option value='$value' $marker>$name</option>" selection="$"}%
    </select>
   </td>
  </tr>
  <tr>
   <td colspan="6" class="skillsFormRating">
    <input name="skill-submit" id="search-skill-submit" type="button" value="Add/Edit" class="foswikiSubmit skillsSubmit skillsControl" />
   </td>
  </tr>
 </table>
</form>
